#gitignore file


#microsoft word temp file
~$*.doc*

############personal################
#Yinchao
#phpstorm project settings
.idea

#website feature-test folder
.test

#website 3rd party libs showcase
.lib

#sass compile cache 
.sass-cache
#####################################