#gitignore file


#microsoft word temp file
~$*.doc*

#OS X dirty files
._*

############personal################
##Yinchao
#phpstorm project settings
.idea

#website feature-test folder
.test

#website 3rd party libs showcase
.lib

#reference files
.ref

#sass compile cache 
.sass-cache

#Too much test design scene, so decide to exclude filestore/design
code/server/filestore/design/*
#####################################