.mj-scene-block {
  width: 200px;
  height: 200px;
  float: left;
  margin: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.mj-scene-block:hover {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
}
.cell-name {
  color: #FFF;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
  font-size: 15pt;
  margin-left: 10px;
}
.cell-digit {
  position: absolute;
  margin-left: 15px;
  margin-top: 170px;
}
.mj-scene-block {
  background: url('../res/img/default-thumb.png');
}
#scene-table_wrapper {
  font-family: "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.scene-table-id-column {
  white-space: nowrap;
}
#scene-table_filter {
  float: right;
}
#scene-table_paginate {
  float: right;
}
.table-striped > tbody > tr:hover {
  background: #428bca;
  color: #FFF;
}
#tags-toggle {
  margin-bottom: 10px;
  font-family: "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.table-striped > tbody > tr {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.btn.btn-primary.active.bt-tags-expand {
  background: #E08800;
  border-color: #935107;
  color: #000;
}
.well {
  font-family: "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
#bt-new-scene {
  float: right;
  font-family: "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
